.monthTable th,
.monthTable td {
    text-align: center;
    font-size: 12px;
    padding: 8px 9px;
}

.monthTable td {
    cursor: pointer;
}

.monthTable td:hover {
    opacity: 0.75;
    transition: opacity 100ms ease-in-out;
}


.monthTable th:first-child,
.monthTable td:first-child {
    padding-left: 15px;
}

.monthTable th:last-child,
.monthTable td:last-child {
    padding-right: 15px;
}

.kwCell {
    color: #aaa;
}

.forbidden {
    color: white;
    background-color: #ff4b5c;
}

.defaultHoliday {
    background-color: #66bfbf;
}

.stateHoliday {
    color: white;
    background-color: #056674;
}

.takeVacation {
    color: white;
    background-color: #667cbf;
}

.noInformation {
    background-color: white;
}

.monthLong {
    display: none;
}

@media screen and (max-width: 550px) {
    .monthTable {
        font-size: 70%;
    }

    .monthTable th,
    .monthTable td {
        padding: 2.5% 4px;
    }

    .monthTable th:first-child,
    .monthTable td:first-child {
        padding-left: 4px;
    }

    .monthTable th:last-child,
    .monthTable td:last-child {
        padding-right: 4px;
    }
}

@media print {
    .monthShort {
        display: none;
    }
    .monthLong {
        display: inherit;
    }

    .monthTable th {
        color: #aaa;
    }
}