.monthTable th,
.monthTable td {
    text-align: center;
}

.monthTable td {
    cursor: pointer;
}

.monthTable td:hover {
    opacity: 0.75;
    transition: opacity 100ms ease-in-out;
}


.monthTable th:first-child,
.monthTable td:first-child {
    padding-left: 15px;
}

.monthTable th:last-child,
.monthTable td:last-child {
    padding-right: 15px;
}

.kwCell {
    color: #aaa;
}

.forbidden {
    background-color: red;
}

.defaultHoliday {
    background-color: #ab47bc;
}

.stateHoliday {
    color: white;
    background-color: #790e8b;
}

.takeVacation {
    background-color: blue;
}

.noInformation {
    background-color: white;
}